{% if include.left %}
  {% assign newsletter_alignment = "left" %}
{% elsif include.right %}
  {% assign newsletter_alignment = "right" %}
{% else %}
  {% assign newsletter_alignment = "center" %}
{% endif %}

<div class="newsletter-form-container newsletter-form-container--{{ newsletter_alignment }}{% if include.center %} newsletter-form-container--spacious{% endif %}">
  <form
    class="newsletter-form"
    action="https://app.loops.so/api/newsletter-form/{{ site.newsletter.endpoint }}"
    method="POST"
  >
    <input
      class="newsletter-form-input"
      name="newsletter-form-input"
      type="email"
      placeholder="user@example.com"
      required=""
    >

    <button
      type="submit"
      class="newsletter-form-button"
    >
      subscribe
    </button>

    <button
      type="button"
      class="newsletter-loading-button"
    >
      Please wait...
    </button>
  </form>

  <div class="newsletter-success">
    <p class="newsletter-success-message">You're subscribed!</p>
  </div>

  <div class="newsletter-error">
    <p class="newsletter-error-message">Oops! Something went wrong, please try again</p>
  </div>

  <button class="newsletter-back-button" type="button">
    &larr; Back
  </button>
</div>
